h1.knockout-text-one, h1.knockout-text-two {
 color: white;
 margin: 0;
 padding: 0;
 background-size: cover;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 28vw;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}
 
.knockout-text-one {
 background: url('invo.jpg')no-repeat;
 
}
 
.knockout-text-two {
 background: url('invo.jpg')no-repeat;
}